# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Environments
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/
